USE [master]
GO
/****** Object:  Database [Billiard4Life]    Script Date: 7/8/2023 1:11:36 PM ******/
CREATE DATABASE [Billiard4Life]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Billiard4Life', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Billiard4Life.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Billiard4Life_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Billiard4Life_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Billiard4Life].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Billiard4Life]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[SoBan] [smallint] NOT NULL,
	[LoaiBan] [nvarchar](20) NULL,
	[GiaMotGio] [money] NULL,
	[TrangThai] [nvarchar](20) NULL,
	[SoHDHienTai] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETCHAMCONG]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETCHAMCONG](
	[MaNV] [varchar](8) NOT NULL,
	[NgayCC] [date] NOT NULL,
	[SoGioCong] [float] NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_CTCC] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[NgayCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETMON]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETMON](
	[MaMon] [varchar](8) NOT NULL,
	[TenNL] [nvarchar](100) NOT NULL,
	[SoLuong] [float] NULL,
 CONSTRAINT [PK_CTM] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC,
	[TenNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETNHAP]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNHAP](
	[MaNhap] [varchar](8) NOT NULL,
	[TenSanPham] [nvarchar](100) NULL,
	[DonVi] [nvarchar](15) NULL,
	[DonGia] [money] NULL,
	[NhomSanPham] [nvarchar](20) NULL,
	[SoLuong] [float] NULL,
	[NgayNhap] [datetime] NULL,
	[NguonNhap] [nvarchar](100) NULL,
	[LienLac] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[SoHD] [smallint] NOT NULL,
	[MaMon] [varchar](8) NOT NULL,
	[SoLuong] [smallint] NULL,
 CONSTRAINT [pk_cthd] PRIMARY KEY CLUSTERED 
(
	[SoHD] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SoHD] [smallint] IDENTITY(1000,1) NOT NULL,
	[SoGio] [time](7) NULL,
	[TriGia] [money] NULL,
	[MaNV] [varchar](8) NULL,
	[MaKH] [varchar](10) NULL,
	[MaKM] [varchar](10) NULL,
	[SoBan] [smallint] NULL,
	[NgayHD] [datetime] NULL,
	[TrangThai] [nvarchar](20) NULL,
	[HinhThucThanhToan] [nvarchar](40) NULL,
	[ThoiDiemTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [varchar](10) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[SDT] [varchar](14) NULL,
	[Email] [varchar](100) NULL,
	[SoDiem] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[TenSanPham] [nvarchar](100) NOT NULL,
	[TonDu] [float] NULL,
	[MucBaoNhap] [float] NULL,
	[DonVi] [nvarchar](15) NULL,
	[NhomSanPham] [nvarchar](20) NULL,
	[Xoa] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[TenSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MaKM] [varchar](10) NOT NULL,
	[TenKM] [nvarchar](200) NULL,
	[GiamGia] [smallint] NULL,
	[MucApDung] [money] NULL,
	[BatDau] [date] NULL,
	[KetThuc] [date] NULL,
	[MoTa] [nvarchar](200) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[MaMon] [varchar](8) NOT NULL,
	[TenMon] [nvarchar](100) NULL,
	[AnhMonAn] [varbinary](max) NULL,
	[Gia] [money] NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [varchar](8) NOT NULL,
	[TenNV] [nvarchar](100) NULL,
	[ChucVu] [nvarchar](20) NULL,
	[FullTime] [bit] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [varchar](20) NULL,
	[NgaySinh] [date] NULL,
	[NgayVaoLam] [date] NULL,
	[Xoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[ID] [varchar](20) NOT NULL,
	[MatKhau] [varchar](20) NULL,
	[Quyen] [varchar](10) NULL,
	[MaNV] [varchar](8) NULL,
	[AnhDaiDien] [varbinary](max) NULL,
	[BatDauCa] [datetime] NULL,
	[KetThucCa] [datetime] NULL,
	[Online] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[BAN] ([SoBan], [LoaiBan], [GiaMotGio], [TrangThai], [SoHDHienTai]) VALUES (1, N'Lip', 60000.0000, N'Có thể sử dụng', N'0')
INSERT [dbo].[BAN] ([SoBan], [LoaiBan], [GiaMotGio], [TrangThai], [SoHDHienTai]) VALUES (2, N'Lip', 60000.0000, N'Có thể sử dụng', N'0')
INSERT [dbo].[BAN] ([SoBan], [LoaiBan], [GiaMotGio], [TrangThai], [SoHDHienTai]) VALUES (3, N'Lỗ', 70000.0000, N'Có thể sử dụng', N'0')
GO
INSERT [dbo].[CHITIETCHAMCONG] ([MaNV], [NgayCC], [SoGioCong], [GhiChu]) VALUES (N'NV001', CAST(N'2023-06-26' AS Date), 2, N'')
INSERT [dbo].[CHITIETCHAMCONG] ([MaNV], [NgayCC], [SoGioCong], [GhiChu]) VALUES (N'NV001', CAST(N'2023-07-01' AS Date), 2, N'')
INSERT [dbo].[CHITIETCHAMCONG] ([MaNV], [NgayCC], [SoGioCong], [GhiChu]) VALUES (N'NV001', CAST(N'2023-07-02' AS Date), 0, N'')
GO
INSERT [dbo].[CHITIETMON] ([MaMon], [TenNL], [SoLuong]) VALUES (N'MA001', N'Coca cola', 1)
INSERT [dbo].[CHITIETMON] ([MaMon], [TenNL], [SoLuong]) VALUES (N'MA002', N'Pepsi', 1)
INSERT [dbo].[CHITIETMON] ([MaMon], [TenNL], [SoLuong]) VALUES (N'MA003', N'Tiger', 1)
GO
INSERT [dbo].[CHITIETNHAP] ([MaNhap], [TenSanPham], [DonVi], [DonGia], [NhomSanPham], [SoLuong], [NgayNhap], [NguonNhap], [LienLac]) VALUES (N'10001', N'Coca cola', N'Chai', 10000.0000, N'Nước uống', 6, CAST(N'2023-03-03T00:00:00.000' AS DateTime), N'Bách hóa', N'098776565')
INSERT [dbo].[CHITIETNHAP] ([MaNhap], [TenSanPham], [DonVi], [DonGia], [NhomSanPham], [SoLuong], [NgayNhap], [NguonNhap], [LienLac]) VALUES (N'10002', N'Khô mực', N'Gói', 20000.0000, N'Đồ ăn', 10, CAST(N'2023-03-03T00:00:00.000' AS DateTime), N'Bách hóa', N'098764567')
INSERT [dbo].[CHITIETNHAP] ([MaNhap], [TenSanPham], [DonVi], [DonGia], [NhomSanPham], [SoLuong], [NgayNhap], [NguonNhap], [LienLac]) VALUES (N'10003', N'Thuốc lá 3 số ', N'Gói', 40000.0000, N'Khác', 20, CAST(N'2023-03-16T00:00:00.000' AS DateTime), N'Bách hóa', N'0984234356')
GO
INSERT [dbo].[CTHD] ([SoHD], [MaMon], [SoLuong]) VALUES (1007, N'MA001', 4)
INSERT [dbo].[CTHD] ([SoHD], [MaMon], [SoLuong]) VALUES (1007, N'MA002', 3)
INSERT [dbo].[CTHD] ([SoHD], [MaMon], [SoLuong]) VALUES (1007, N'MA003', 2)
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([SoHD], [SoGio], [TriGia], [MaNV], [MaKH], [MaKM], [SoBan], [NgayHD], [TrangThai], [HinhThucThanhToan], [ThoiDiemTao]) VALUES (1000, CAST(N'01:00:00' AS Time), 60000.0000, N'NV002', N'KH0002', NULL, 1, CAST(N'2023-03-03T00:00:00.000' AS DateTime), N'Đã thanh toán', N'Tiền mặt', NULL)
INSERT [dbo].[HOADON] ([SoHD], [SoGio], [TriGia], [MaNV], [MaKH], [MaKM], [SoBan], [NgayHD], [TrangThai], [HinhThucThanhToan], [ThoiDiemTao]) VALUES (1001, CAST(N'01:21:00' AS Time), 80000.0000, N'NV002', NULL, NULL, 2, CAST(N'2023-03-04T00:00:00.000' AS DateTime), N'Đã thanh toán', N'Tiền mặt', NULL)
INSERT [dbo].[HOADON] ([SoHD], [SoGio], [TriGia], [MaNV], [MaKH], [MaKM], [SoBan], [NgayHD], [TrangThai], [HinhThucThanhToan], [ThoiDiemTao]) VALUES (1002, CAST(N'00:56:00' AS Time), 55000.0000, N'NV002', N'KH0001', NULL, 3, CAST(N'2023-03-05T00:00:00.000' AS DateTime), N'Đã thanh toán', N'Tiền mặt', NULL)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [SDT], [Email], [SoDiem]) VALUES (N'KH0001', N'Nguyễn Văn A', N'0987677543', N'hoaihai.el@gmail.com', 0)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [SDT], [Email], [SoDiem]) VALUES (N'KH0002', N'Văn Phú', N'0787567432', N'phulee@gmail.com', 20)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [SDT], [Email], [SoDiem]) VALUES (N'KH0003', N'Tuấn Vũ', N'0676564563', N'tuanvu@gmail.com', 80)
GO
INSERT [dbo].[KHO] ([TenSanPham], [TonDu], [MucBaoNhap], [DonVi], [NhomSanPham], [Xoa]) VALUES (N'Coca cola', 13, 5, N'Chai', N'Nước uống', 0)
INSERT [dbo].[KHO] ([TenSanPham], [TonDu], [MucBaoNhap], [DonVi], [NhomSanPham], [Xoa]) VALUES (N'Khô mực ', 12, 5, N'Gói', N'Đồ ăn ', 0)
INSERT [dbo].[KHO] ([TenSanPham], [TonDu], [MucBaoNhap], [DonVi], [NhomSanPham], [Xoa]) VALUES (N'Ổi', 8, 5, N'Quả', N'Đồ ăn', 0)
GO
INSERT [dbo].[KHUYENMAI] ([MaKM], [TenKM], [GiamGia], [MucApDung], [BatDau], [KetThuc], [MoTa], [TrangThai], [Deleted]) VALUES (N'KM001', N'KMT6', 20, 100000.0000, CAST(N'2023-06-20' AS Date), CAST(N'2023-06-22' AS Date), N'mmm', N'Hết hạn', 0)
INSERT [dbo].[KHUYENMAI] ([MaKM], [TenKM], [GiamGia], [MucApDung], [BatDau], [KetThuc], [MoTa], [TrangThai], [Deleted]) VALUES (N'KM002', N'KMT7', 20, 100000.0000, CAST(N'2023-07-07' AS Date), CAST(N'2023-07-10' AS Date), N'jkg', N'Đang diễn ra', 0)
GO
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [ChucVu], [FullTime], [DiaChi], [SDT], [NgaySinh], [NgayVaoLam], [Xoa]) VALUES (N'NV001', N'Hoài Hải', N'Quản lý', 1, N'Quảng Trị', N'0374825441', CAST(N'2003-05-21' AS Date), CAST(N'2023-03-16' AS Date), 0)
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [ChucVu], [FullTime], [DiaChi], [SDT], [NgaySinh], [NgayVaoLam], [Xoa]) VALUES (N'NV002', N'Văn Phú', N'Nhân viên', 0, N'Quảng Trị', N'0942344222', CAST(N'2003-09-09' AS Date), CAST(N'2023-03-16' AS Date), 0)
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [ChucVu], [FullTime], [DiaChi], [SDT], [NgaySinh], [NgayVaoLam], [Xoa]) VALUES (N'NV003', N'Tuấn Vũ', N'Nhân viên', 0, N'The Eeast Gate', N'0967461234', CAST(N'2003-09-06' AS Date), CAST(N'2023-06-25' AS Date), 0)
GO
INSERT [dbo].[TAIKHOAN] ([ID], [MatKhau], [Quyen], [MaNV], [AnhDaiDien], [BatDauCa], [KetThucCa], [Online]) VALUES (N'admin', N'admin', N'admin', N'NV001', NULL, NULL, NULL, 0)
INSERT [dbo].[TAIKHOAN] ([ID], [MatKhau], [Quyen], [MaNV], [AnhDaiDien], [BatDauCa], [KetThucCa], [Online]) VALUES (N'NV002', N'123456', N'nhanvien', N'NV002', NULL, CAST(N'2023-07-08T11:17:34.470' AS DateTime), NULL, 0)
INSERT [dbo].[TAIKHOAN] ([ID], [MatKhau], [Quyen], [MaNV], [AnhDaiDien], [BatDauCa], [KetThucCa], [Online]) VALUES (N'nv003', N'nv003', N'nhanvien', N'NV003', NULL, CAST(N'2023-07-07T21:14:29.290' AS DateTime), NULL, 0)
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (N'Tiền mặt') FOR [HinhThucThanhToan]
GO
ALTER TABLE [dbo].[KHO] ADD  DEFAULT ((0)) FOR [Xoa]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[MENU] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((0)) FOR [Xoa]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT ((0)) FOR [Online]
GO
ALTER TABLE [dbo].[CHITIETCHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_CTCC] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[CHITIETCHAMCONG] CHECK CONSTRAINT [FK_CTCC]
GO
ALTER TABLE [dbo].[CHITIETMON]  WITH CHECK ADD  CONSTRAINT [FK_CTM] FOREIGN KEY([TenNL])
REFERENCES [dbo].[KHO] ([TenSanPham])
GO
ALTER TABLE [dbo].[CHITIETMON] CHECK CONSTRAINT [FK_CTM]
GO
ALTER TABLE [dbo].[CHITIETMON]  WITH CHECK ADD  CONSTRAINT [FK_CTMMAMON] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MENU] ([MaMon])
GO
ALTER TABLE [dbo].[CHITIETMON] CHECK CONSTRAINT [FK_CTMMAMON]
GO
ALTER TABLE [dbo].[CHITIETNHAP]  WITH CHECK ADD  CONSTRAINT [FK_TenSP] FOREIGN KEY([TenSanPham])
REFERENCES [dbo].[KHO] ([TenSanPham])
GO
ALTER TABLE [dbo].[CHITIETNHAP] CHECK CONSTRAINT [FK_TenSP]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_MAMON] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MENU] ([MaMon])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_MAMON]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_SOHD] FOREIGN KEY([SoHD])
REFERENCES [dbo].[HOADON] ([SoHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_SOHD]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HDSoBan] FOREIGN KEY([SoBan])
REFERENCES [dbo].[BAN] ([SoBan])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HDSoBan]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_KHUYENMAI] FOREIGN KEY([MaKM])
REFERENCES [dbo].[KHUYENMAI] ([MaKM])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_KHUYENMAI]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_NGUOITHANHTOAN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_NGUOITHANHTOAN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_CHUTAIKHOAN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_CHUTAIKHOAN]
GO
/****** Object:  StoredProcedure [dbo].[GET_CURRENT_INFO]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_CURRENT_INFO]
@manv varchar(8)
AS
BEGIN
SELECT *
FROM NhanVien nv
WHERE nv.MaNV = @manv
END
GO
/****** Object:  StoredProcedure [dbo].[GET_QUANTITY_OF_EACH_DISH_PD]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_QUANTITY_OF_EACH_DISH_PD]
@soban smallint
AS
BEGIN
SELECT MaMon, SUM(SoLuong) as SoLuong
FROM CHEBIEN
WHERE SoBan = @soban
GROUP BY MaMon
END
GO
/****** Object:  StoredProcedure [dbo].[GET_SUM_OF_PRICE_PD]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_SUM_OF_PRICE_PD]
@soban smallint
AS 
BEGIN
SELECT SUM(tong) as tong
FROM (SELECT SUM(mn.Gia)*cb.SoLuong AS Tong
          FROM CHEBIEN cb JOIN MENU mn
                    ON cb.MaMon = mn.MaMon
          WHERE Soban = @soban 
          GROUP BY cb.MaMon, cb.SoLuong) as tong
END
GO
/****** Object:  StoredProcedure [dbo].[Inform_Chef_PD]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Inform_Chef_PD]
@mamon varchar(8),
@soban smallint,
@soluong smallint,
@ngaycb datetime,
@trangthai nvarchar(20),
@trangthaiban nvarchar(20)
AS
BEGIN
INSERT INTO CHEBIEN
VALUES (@mamon, @soban, @soluong, @ngaycb, @trangthai)

UPDATE BAN
SET TrangThai = @trangthaiban
WHERE SoBan = @soban
END

GO
/****** Object:  StoredProcedure [dbo].[INSERT_DETAIL_PD]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_DETAIL_PD]
@mm varchar(8),
@sl smallint
AS 
BEGIN
INSERT INTO CTHD values((SELECT IDENT_CURRENT('HOADON')), @mm, @sl)
END
GO
/****** Object:  StoredProcedure [dbo].[PAY_A_BILL_PD]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PAY_A_BILL_PD]
@trigia money,
@manv varchar(8),
@soban smallint,
@ngayHD datetime,
@trangthai nvarchar(20)
AS 
BEGIN
INSERT INTO HOADON(TriGia, MaNV, SoBan, NgayHD, TrangThai)
VALUES (@trigia, @manv, @soban, @ngayHD, @trangthai)
END

GO
/****** Object:  StoredProcedure [dbo].[UPDATEINFO]    Script Date: 7/8/2023 1:11:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATEINFO]
@hoten nvarchar(100),
@diachi nvarchar(100),
@manv varchar(8),
@sdt varchar(20),
@ngaysinh datetime
AS 
BEGIN
UPDATE NhanVien
SET TenNV = @hoten, DiaChi = @diachi, SDT = @sdt, NgaySinh = @ngaysinh
WHERE MaNV = @manv
END
GO
USE [master]
GO
