<div id="header-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 660px;">
            <img class="img-fluid" src="~/images/banner1.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center text-center h-100">
                <div class="p-3" style="max-width: 700px;">
                    <h4 class="text-light text-uppercase font-weight-medium mb-3">Billiard4Life - Tận hưởng từng đường cơ</h4>
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Dịch vụ chất lượng</h3>
                    <p><a asp-action="PlaceOrder" asp-controller="Home" class="btn btn-secondary me-2">Đặt bàn ngay</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="height: 660px;">
            <img class="img-fluid" src="~/images/banner3.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center text-center h-100">
                <div class="p-3" style="max-width: 700px;">
                    <h4 class="text-light text-uppercase font-weight-medium mb-3">Billiard4Life - Tận hưởng từng đường cơ</h4>
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Giá cả hợp lý</h3>
                    <p><a asp-action="PlaceOrder" asp-controller="Home" class="btn btn-secondary me-2">Đặt bàn ngay</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
