<!-- Start Product Section -->
<div class="product-section">
	<div class="container">
		<div class="row" style="height: 660px;">

			<!-- Start Column 1 -->
			<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
				<h2 class="mb-4 section-title">Đầy đủ các loại bàn trên thị trường</h2>
				<p><a asp-action="PlaceOrder" asp-controller="Home" class="btn btn-secondary me-2">Đặt bàn ngay</a></p>
			</div>
			<!-- End Column 1 -->
			<!-- Start Column 2 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item" href="cart.html">
					<div class="grid grid-1"><img src="~/images/table1.png" class="img-fluid product-thumbnail"></div>
					<h3 class="product-title">Carom</h3>
					<strong class="product-price">80.000đ/h</strong>
				</a>
			</div>
			<!-- End Column 2 -->
			<!-- Start Column 3 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item" href="cart.html">
					<div class="grid grid-1"><img src="~/images/table2.png" class="img-fluid product-thumbnail"></div>
					<h3 class="product-title">Libre</h3>
					<strong class="product-price">65.000đ/h</strong>
				</a>
			</div>
			<!-- End Column 3 -->
			<!-- Start Column 4 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item" href="cart.html">
					<div class="grid grid-1"><img src="~/images/table3.png" class="img-fluid product-thumbnail"></div>
					<h3 class="product-title">Pool</h3>
					<strong class="product-price">80.000đ/h</strong>
				</a>
			</div>
			<!-- End Column 4 -->

		</div>
	</div>
</div>
<!-- End Product Section -->