<div class="we-help-section">
	<div class="container">
		<div class="row justify-content-between" style="height: 600px;">
			<div class="col-lg-7 mb-5 mb-lg-0">
				<div class="imgs-grid">
					<div class="grid grid-1"><img src="~/images/food1.jpg" alt="Untree.co"></div>
					<div class="grid grid-2"><img src="~/images/food2.jpg" alt="Untree.co"></div>
					<div class="grid grid-3"><img src="~/images/drink.jpg" alt="Untree.co"></div>
				</div>
			</div>
			<div class="col-lg-5 ps-lg-5">
				<h2 class="section-title mb-4">Thực đơn hấp dẫn</h2>
				<p>Billiard4Life sở hữu đội ngũ đầu bếp tài năng, mang đến cho bạn các món ăn ngon miệng để tận hưởng giữa những trận đấu căng thẳng. Menu đa dạng với đặc sản độc đáo và đồ uống phong phú sẽ làm hài lòng mọi khẩu vị.</p>

				<p><a asp-action="PlaceOrder" asp-controller="Home" class="btn btn-secondary me-2">Đặt bàn ngay</a></p>
			</div>
		</div>
	</div>
</div>