<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />

	<!-- Bootstrap CSS -->
	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link href="~/css/tiny-slider.css" rel="stylesheet">
	<link href="~/css/style.css" rel="stylesheet">
	<link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
	<title>Billiard4Life</title>
</head>

<body>

	<!-- Start Header/Navigation -->
	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

		<div class="container">
			<a class="navbar-brand" asp-action="Index" asp-controller="Home">Billiard4Life<span>.</span></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					@if (ViewData["Active"] != null && ViewData["Active"] == "Home")
					{
						<li class="nav-item active"><a class="nav-link" asp-action="Index" asp-controller="Home">Trang chủ</a></li>
					}
					else
					{
						<li><a class="nav-link" asp-action="Index" asp-controller="Home">Trang chủ</a></li>
					}
					@if (ViewData["Active"] != null && ViewData["Active"] == "Services")
					{
						<li class="nav-item active"><a class="nav-link" asp-action="Services" asp-controller="Home">Dịch vụ</a></li>
					}
					else
					{
						<li><a class="nav-link" asp-action="Services" asp-controller="Home">Dịch vụ</a></li>
					}
					@if (ViewData["Active"] != null && ViewData["Active"] == "Prices")
					{
						<li class="nav-item active"><a class="nav-link" asp-action="Prices" asp-controller="Home">Bảng giá</a></li>
					}
					else
					{
						<li><a class="nav-link" asp-action="Prices" asp-controller="Home">Bảng giá</a></li>
					}
					@if (ViewData["Active"] != null && ViewData["Active"] == "PlaceOrder")
					{
						<li class="nav-item active"><a class="nav-link" asp-action="PlaceOrder" asp-controller="Home">Đặt bàn</a></li>
					}
					else
					{
						<li><a class="nav-link" asp-action="PlaceOrder" asp-controller="Home">Đặt bàn</a></li>
					}
				</ul>
			</div>
		</div>

	</nav>
	<!-- End Header/Navigation -->
	<!--Pop-up Message-->
	<div class="modal" tabindex="-1" id="myMessage">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Notification</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div id="myMessageBody" class="modal-body">
					<p>@TempData["SuccessMessage"]</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!--Pop-up Message-->
	@RenderBody()
	<!-- Start Footer Section -->
	<footer class="footer-section">
		<div class="container relative">

			<div class="row g-5 mb-5">
				<div class="col-lg-4">
					<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Billiard4Life<span>.</span></a></div>
					<p class="mb-4">Hãy đến và trải nghiệm không khí sôi động, âm nhạc cuồng nhiệt và niềm đam mê bi-a tại Billiard4Life. Chúng tôi tin rằng, từng khoảnh khắc tại đây sẽ là những kí ức khó quên. Hãy để Billiard4Life là điểm đến lý tưởng cho mọi hoạt động giải trí của bạn!</p>

					<ul class="list-unstyled custom-social">
						<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
					</ul>
				</div>

				<div class="col-lg-8">
					<div class="row links-wrap">
						<div class="col-6 col-sm-6 col-md-3">
						</div>

						<div class="col-6 col-sm-6 col-md-3">
						</div>

						<div class="col-6 col-sm-6 col-md-3">
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Không khí sôi động</a></li>
								<li><a href="#">Dịch vụ chất lượng</a></li>
								<li><a href="#">Giá cả hợp lý</a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>

			<div class="border-top copyright">
				<div class="row pt-4">
					<div class="col-lg-6">
						<p class="mb-2 text-center text-lg-start">
							Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. Billiard4Life
						</p>
					</div>

					<div class="col-lg-6 text-center text-lg-end">
						<ul class="list-unstyled d-inline-flex ms-auto">
							<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>

				</div>
			</div>

		</div>
	</footer>
	<!-- End Footer Section -->


	<script src="~/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/tiny-slider.js"></script>
	<script src="~/js/custom.js"></script>
</body>

</html>
@if (TempData["SuccessMessage"] != null)
{
	<script>
		$(document).ready(function () {
			$('#myMessage').modal('show');
		});
	</script>
}
